<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz Conducción</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="pregunta__card">
        <div class="pregunta__head">
            <div class="pregunta__progress">
                1/6
            </div>
            <div class="pregunta__title">
                What does this symbol mean?
            </div>
        </div>

        <img class="pregunta__image" src="img/window-defrost.png" alt="question_context" srcset="">

        <div class="pregunta__countdown">
            30:00
        </div>

        <div id="pregunta__respostes">
            <button id="pregunta__respostes__ans1">
                Windshield washer fluid
            </button>

            <button id="pregunta__respostes__ans2">
                Cruise control
            </button>

            <button id="pregunta__respostes__ans3">
                Defrost front window
            </button>
            <button id="pregunta__respostes__next">
                Next
            </button>
        </div>
    </div>
</body>
</html>